@mixin container($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: $width;
}

@mixin big-button($color) {
    width: 270px;
    color: white;
    font-size: 32px;
    padding: 4px 0;
    border: 0;
    border-radius: 20px;
    margin-bottom: 32px;
    outline: none;
    cursor: pointer;
    background-color: $color;
}
